

.back-button{
    width: 104px;
    height: 33px;
    background-color: #ccc;
    border-radius: 5px;
}

.img{
    width: 400px;
    height: 267px;
    background-color:#ccc;
    border-radius: 5px;
}

.h1{
    width: 301px;
    height: 43px;
    background-color: #ccc;
    border-radius: 5px;
}

.p{
    position: relative;
    top: 20px;
    width: 301px;
    height: 21px;
    background-color: #ccc;
    border-radius: 5px;
}